[Unit]
Description=Periodically update Quotidy

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=quotidy-update.service

[Install]
WantedBy=timers.target
